extends ../../layouts/default.pug

block content
  h1 Danh sách sản phẩm

  table.table.table-striped
    thead
      tr
        th ID
        th Name
        th Price
        th Description
    tbody
      tr
        td 1
        td Sản phẩm A
        td 100.000đ
        td Mô tả sản phẩm A
      tr
        td 2
        td Sản phẩm B
        td 200.000đ
        td Mô tả sản phẩm B
      tr
        td 3
        td Sản phẩm C
        td 300.000đ
        td Mô tả sản phẩm C
