include ../mixins/sub-menu.pug
header.header
  .container
    .logo
      img(src="images/favicon.png", alt="Logo", width="50")
      h1 My Website
    nav.nav
      ul.menu
        li: a(href="/") Trang chủ
        li
          -const pathProduct="/products"
          a(href=pathProduct) Sản phẩm
          +sub-menu(records,pathProduct)
          
          //- ul
          //-   li
          //-     a(href="/products/slug-1") Mục 1
          //-     ul
          //-       li
          //-         a(href="/products/slug-1-1") Mục 1 - 1
          //-       li
          //-         a(href="/products/slug-1-2") Mục 1 - 2
          //-         ul
          //-           li
          //-             a(href="/products/slug-1-2-1") Mục 1 - 2 - 1
          //-           li
          //-             a(href="/products/slug-1-2-2") Mục 1 - 2 - 2
          //-   li
          //-     a(href="/products/slug-2") Mục 2
    .auth
      a.btn(href="/login") Đăng nhập
