header.header
  .container
    .logo
      img(src="images/favicon.png", alt="Logo", width="50")
      h1 My Website
    nav.nav
      ul.menu
        li: a(href="/") Trang chủ
        li: a(href="/product") Sản phẩm
        li: a(href="/contact") Liên hệ
    .auth
      a.btn(href="/login") Đăng nhập
