mixin  search(keyword)
    form(id="formSearch")
            .input-group
              input.form-control(type="text", name="keyword", placeholder="Tìm kiếm sản phẩm" value=keyword)
              button.btn.btn-primary(type="submit") Tìm kiếm