extends ../../layouts/layoutDefault.pug

block content
  .container.my-3
    include ../../partials/list-users.pug
    .row  
      .col-12
        h3.box-head Danh sách người dùng
    
block script
  script(src="/js/users.js")
