extends ../../layouts/layoutDefault.pug

block content
  .container.my-3
    include ../../partials/list-users.pug
    .row  
      .col-12
        h3.box-head Danh sách người dùng
    .row 
        each user in users 
          .col-6
            .box-user
                .inner-avatar
                    img(src=user.avatar ? user.avatar:"https://images.icon-icons.com/1378/PNG/512/avatardefault_92824.png", alt=user.userName )
                .inner-info
                    .inner-name #{user.userName}
                    .inner-buttons
                        button.btn.btn-sm.btn-primary.mr-1 Kết bạn
                        button.btn.btn-sm.btn-secondary.mr-1 Hủy


