header.header
  .container-fluid
    .inner-logo
      a(href="/admin/dashboard") Admin Panel
    .text-right
      a(href=`${prefixAdmin}/my-account`)
        img.rounded-circle(src=user.avatar || '/path/to/default-avatar.jpg', alt=user.fullName, width="50", height="50")

      
