header.header
  .container-fluid
    .inner-logo
      a(href="/admin/dashboard") Admin Panel
    .text-right
      a.btn.btn-primary(href=`${prefixAdmin}/my-account`) #{user.fullName}
      a.btn.btn-danger(href=`${prefixAdmin}/auth/logout`) Đăng xuất
