aside.sidebar.bg-light.p-3
  h2 Menu
  ul.nav.flex-column
    li.nav-item
      a.nav-link(href=`${prefixAdmin}/dashboard`) Dashboard
    li.nav-item
      a.nav-link(href=`${prefixAdmin}/products`) Product
    li.nav-item
      a.nav-link(href=`${prefixAdmin}/categories-product`) Categories Product
